/* Animação das particulas com uso de listas os blocos devem aparecer de baixo para cima
e continuamente ficar com mais opacidade alem de mais arredondados*/
.Particulas{
    position: fixed;
    width: 100%;
    height: 100%;
    top: -19px;
    left:0;
    overflow: hidden;
    z-index: -1;
}
.Particulas li{
    position: fixed;
    display: block;
    background: #241e1633;
    height: 20px;
    width: 20px;
    list-style: none;
    border-radius: 10%;
}
.Particulas li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;

}

.Particulas li:nth-child(2){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.Particulas li:nth-child(3){
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 4s;
}
.Particulas li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 10s;
}
.Particulas li:nth-child(5){
    left: 65%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
}
.Particulas li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;

}
.Particulas li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.Particulas li:nth-child(8){
    left: 50%;
    width: 35px;
    height: 35px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.Particulas li{
    bottom: -150px;
    animation: animate 25s linear infinite;
}

@keyframes animate {
    0% {
        transform: 
        translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0%;
    }
    100% {
        transform:
        translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}