/* posicionamento do texto e customização animação */
#sobreEdu p{
    text-align: left;
        position: fixed;
        color: #482f11 ;
        width: 600px;
        height: 300px;
        margin: 0;
        margin-left: 30%;
        font-size: 25px;
        animation: aparecerbaixotxt 2s forwards;
        top: 20%;
        opacity: 0;
        z-index: 1;
    }

    @keyframes aparecerbaixotxt {
        0% {
            opacity: 0;
            transform: scale(0%);
       }
       100% {
        opacity: 1;
        transform: scale(100%);
}
}
/* icone de fundo */
.fa-face-meh-blank{
    rotate: -30deg;
    opacity: 10%;
    position: fixed;
    font-size:500px;
    z-index: -2;
}